name: CI - HtmlToPdf

on: [push, pull_request]

env:
  CONFIGURATION: Release
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1

jobs:
  ci:
    runs-on: windows-latest

    strategy:
      fail-fast: false
      matrix:
        TEST_SUITE: [Tests-All]
    timeout-minutes: 120

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: .NET 9.0
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 9.0.x

      - name: Build
        run: |
          .\build.ps1 -Configuration ${{ env.CONFIGURATION }}
          function Check-ExitCode {
            $exitCode = $LASTEXITCODE
            if ($exitCode -ne 0) {
              echo "Non-zero ($exitCode) exit code. Exiting..."
              exit $exitCode
            }
          }
          Check-ExitCode
        shell: powershell

      - name: Tests
        run: |
          .\tests.ps1 -Configuration ${{ env.CONFIGURATION }}
          function Check-ExitCode {
            $exitCode = $LASTEXITCODE
            if ($exitCode -ne 0) {
              echo "Non-zero ($exitCode) exit code. Exiting..."
              exit $exitCode
            }
          }
          Check-ExitCode
        shell: powershell

      - name: Publish Artifacts
        if: always()   # garante que roda mesmo se testes falharem
        uses: actions/upload-artifact@v4
        with:
          name: 'ci_${{ matrix.TEST_SUITE }}_${{ env.CONFIGURATION }}'
          path: '.\\output\\'
